"*":
  "atom-beautify":
    general:
      _analyticsUserId: "0ffea89e-6209-4159-92d0-429702be214d"
  core:
    disabledPackages: [
      "spell-check"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-eighties-one-dark"
    ]
  docblockr: {}
  editor:
    fontFamily: "Inconsolata-dz for Powerline"
    tabLength: 4
  "exception-reporting":
    userId: "c5d40336-5ba1-6610-5415-fb1a184dc42b"
  "php-cs-fixer":
    executablePath: "/usr/local/Cellar/php-cs-fixer/1.11/php-cs-fixer"
    executeOnSave: true
  "php-integrator-base": {}
  "tool-bar":
    position: "Left"
  welcome:
    showOnStartup: false
".git-commit.text":
  editor:
    tabLength: 4
".git-config.source":
  editor:
    tabLength: 4
".git-rebase.text":
  editor:
    tabLength: 4
".source.yaml":
  editor:
    showIndentGuide: true
